*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-image: url("./assets/wallpaperMortyRick.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    margin-right: 180vh;
}

input{
    justify-content: center;
    height: 4vh;
    width: 25vh;
    font-size: 2vh;
}
.btn-group{
    justify-content: center;
    align-items: center;
    display: flex;
    transition: ease-in-out 0.2s;
}

.btn-group:hover{
    transform: scale(1.1);
}

.logo{
    transition: ease-in-out 0.2s;
}

.logo:hover{
    transform: scale(1.1);
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vh;
    padding: 15rem;
}

.card{
    width: 25vh;
    height: auto;
    text-align: center;
    display: flex;
    border-radius: 20px !important;
    border: 4px solid white !important;
    border: 1;
    transition: ease-in-out 0.2s;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    border-radius: 20px !important;
    border: 4px solid white !important;
    border: 1;
}

h4{
    white-space: nowrap;
}